.social-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 10rem;
    background-color: #c9c1c1;
    
  }
  
  .icon {
    font-size: 24px;
    color: #555;
  }
  
  .icon:hover {
    color: #007bff; /* Change color on hover */
  }